.nav {
  background: #aa0601;
  padding: 0 88px;

  a {
    text-decoration: none;
  }

  @include pad {
    padding: 0 6.25%;
  }

  @include phone {
    display: block !important;
    padding: 0;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
  }

  .hamIcon {
    display: none;

    @include phone {
      display: block;
      position: absolute;
      top: 25px;
      left: 16px;
      transform: translateY(-50%);
    }
  }

  .logo {
    @include phone {
      padding: 10px 0;
    }

    a {
      display: block;
      background-image: url(../img/logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 80px;
      height: 49px;
      @include text-hide;

      @include phone {
        margin: auto;
        width: 48px;
        height: 29px;
      }
    }
  }

  .menu {
    li {
      margin-left: 64px;
      padding: 40px 0;

      a {
        display: block;
        color: #ffffff;
        @include font-size(20px);
      }
    }

    @include phone {
      flex-direction: column;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.5s;
      position: absolute;
      left: 0;
      right: 0;
      background: #aa0601;

      li {
        margin: 0;
        padding: 16px 0;
        border-bottom: 1px solid #fff;

        &:first-child {
          border-top: 1px solid #fff;
        }
      }
    }
  }

  .active {
    max-height: 256px;
  }
}

.banner {
  background-image: url(../img/banner.png);
  background-position: center center;
  background-size: cover;
  height: 840px;
  color: #650300;
  font-weight: 600;

  @include phone {
    height: 394px;
  }

  .banner-content {
    text-align: right;

    p {
      &:first-child {
        @include font-size(36px);

        @include pad {
          @include font-size(20px);
        }

        @include phone {
          @include font-size(16px);
        }
      }

      &:last-child {
        @include font-size(64px);

        @include pad {
          @include font-size(48px);
        }

        @include phone {
          @include font-size(32px);
        }
      }
    }
  }
}

.feat {
  background: #aa06010d;
  padding: 64px 0 80px;

  @include pad {
    padding: 40px 0 80px 0;
  }

  @include phone {
    padding: 32px 0 56px 0;
  }

  h2 {
    color: #650300;
    margin-bottom: 44px;

    @include pad {
      margin-bottom: 32px;
    }
  }

  &-list {
    @include pad {
      flex-wrap: wrap;
    }

    &-item {
      width: 25%;
      margin: 0 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      padding: 0 37px;

      &:nth-child(1) {
        margin-left: 0;
      }

      &:nth-child(4) {
        margin-right: 0;
      }

      @include pad {
        width: 48%;
        padding: 0 50px;
        margin-bottom: 20px;

        &:nth-child(2) {
          margin-right: 0;
        }

        &:nth-child(3) {
          margin-left: 0;
        }
      }

      @include phone {
        width: 100%;
        margin: 0 0 28px 0;
        padding: 0 64px;

        &:last-child {
          margin: 0;
        }
      }

      img {
        margin-bottom: 40px;

        @include pad {
          margin-bottom: 16px;
        }
      }

      h3 {
        @include font-size(24px);
        margin-bottom: 4px;
        color: #650300;
        font-weight: 600;

        @include pad {
          margin-bottom: 8px;
        }
      }

      p {
        @include font-size(16px);
        text-align: justify;

        @include pad {}
      }
    }
  }
}

.classic {
  padding: 64px 0 80px;

  @include pad {
    padding: 40px 0;
  }

  @include phone {
    padding: 24px 0;
  }

  h2 {
    color: #650300;
    margin-bottom: 60px;

    @include pad {
      margin-bottom: 32px;
    }

    @include phone {
      margin-bottom: 16px;
    }
  }

  &-list-item {
    margin-bottom: 32px;

    @include pad {
      margin-bottom: 8px;
    }

    @include phone {
      position: relative;
    }

    p {
      @include font-size(48px);
      font-family: "Roboto", sans-serif;
      font-style: italic;
      font-weight: 900;
      color: #aa0601;

      @include pad {
        @include font-size(28px);
      }

      @include phone {
        color: #ffffff;
      }
    }

    .photo {
      margin-right: 24px;

      @include pad {
        width: 62.5%;
      }

      @include phone {
        width: 100%;
        margin: 0;
      }
    }

    .type {
      @include pad {
        width: 37.5%;
        justify-content: center;
      }

      @include phone {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }

      .icon {
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 8px;
      }
    }

    &:nth-child(1) {
      .icon {
        background-image: url(../img/icon-diamond.svg);
        width: 48px;
        height: 38px;

        @include pad {
          width: 32px;
          height: 25.16px;
        }

        @include phone {
          background-image: url(../img/icon-diamond-white.svg);
        }
      }
    }

    &:nth-child(2) {
      flex-direction: row-reverse;

      @include pad {
        flex-direction: row;
      }

      .photo {
        margin-right: 0;
        margin-left: 24px;
        position: relative;

        @include pad {
          margin-right: 24px;
          margin-left: 0;
        }

        @include phone {
          margin: 0;
        }

        &::after {
          content: '';
          position: absolute;
          background-image: url(../img/product-2-color.png);
          background-size: contain;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      .icon {
        background-image: url(../img/icon-sun.svg);
        width: 48px;
        height: 48px;

        @include pad {
          width: 32px;
          height: 32px;
        }

        @include phone {
          background-image: url(../img/icon-sun-white.svg);
        }
      }
    }

    &:nth-child(3) {
      margin: 0;

      .icon {
        background-image: url(../img/icon-thunder.svg);
        width: 35px;
        height: 48px;

        @include pad {
          width: 23px;
          height: 32px;
        }

        @include phone {
          background-image: url(../img/icon-thunder-white.svg);
        }
      }
    }
  }
}

.design {
  background-image: url(../img/bg.png);
  background-position: center center;
  background-size: cover;
  padding: 64px 0 479px;

  a {
    text-decoration: none;
  }

  @include pad {
    padding: 40px 0 417px;
  }

  @include phone {
    padding: 24px 0 189px;
  }

  .jointDesign {
    h2 {
      color: #ffffff;
      margin-bottom: 60px;

      @include pad {
        margin-bottom: 32px;
      }

      @include phone {
        margin-bottom: 16px;
      }
    }

    &-photos {
      margin-bottom: 60px;

      @include pad {
        padding: 0 48px;
        margin-bottom: 40px;
      }

      @include phone {
        padding: 0 12px;
        margin-bottom: 20px;
      }

      .more-bg {
        position: relative;
        margin-right: 77px;
        max-width: 30%;

        @include pad {
          margin-right: 48px;
        }

        @include phone {
          width: 102px;
          margin-right: 45px;
        }

        .more {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          width: 100%;

          @include pad {
            left: 12px;
          }

          a {
            background: #ffffff;
            color: #aa0601;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            @include font-size(72px);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;

            @include pad {
              @include font-size(40px);
              width: 145px;
            }

            @include phone {
              @include font-size(26px);
              width: 90px;
            }
          }

          img {
            display: inline-block;
            margin-left: 17px;

            @include pad {
              width: 27px;
              height: 27px;
              margin-left: 10px;
            }

            @include phone {
              width: 17px;
              height: 17px;
              margin-left: 8px;
            }
          }
        }
      }
    }

    &-list {
      @include phone {
        flex-direction: column;
      }

      &-item {
        margin: 0 15px;

        @include phone {
          margin: 0 0 20px;
        }

        &:first-child {
          margin-left: 0;
          position: relative;

          &::after {
            content: "Double A+";
            position: absolute;
            background: rgba($color: #fff, $alpha: 0.5);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @include font-size(72px);
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            color: #aa0601;
            display: flex;
            justify-content: center;
            align-items: center;

            @include pad {
              @include font-size(32px);
            }
          }
        }

        &:last-child {
          margin-right: 0;
          margin-bottom: 0;
          position: relative;

          &::after {
            content: "YOUTH";
            position: absolute;
            background: rgba($color: #fff, $alpha: 0.5);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @include font-size(72px);
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            color: #aa0601;
            display: flex;
            justify-content: center;
            align-items: center;

            @include pad {
              @include font-size(32px);
            }
          }
        }
      }
    }
  }
}

.rec {
  margin: -335px 0 80px;

  @include pad {
    margin: -377px 0 40px;
  }

  @include phone {
    margin: -165px 0 24px;
  }

  h2 {
    color: #fff;
    margin-bottom: 60px;

    @include pad {
      margin-bottom: 32px;
    }

    @include phone {
      margin-bottom: 16px;
    }
  }

  &-list {
    @include pad {
      flex-wrap: wrap;
    }

    &-item {
      width: 25%;
      margin: 0 12px;

      @include pad {
        width: 48%;
        margin-bottom: 24px;
      }

      @include phone {
        width: 100%;
        margin: 0 0 16px;
      }

      img {
        height: 256px;
        display: block;

        @include phone {
          width: 100%;
        }
      }

      p {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
        margin-bottom: 16px;
      }

      &:nth-child(1) {
        margin-left: 0;
      }

      &:nth-child(2) {
        @include pad {
          margin-right: 0;
        }
      }

      &:nth-child(3) {
        @include pad {
          margin-left: 0;
          margin-bottom: 0;
        }

        @include phone {
          margin-bottom: 16px;
        }
      }

      &:nth-child(4) {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  &-content {
    background: #fff;
    border: 1px solid #dee2e6;
    padding: 83px 16px 0;
    margin-top: -83px;

    p {
      &:nth-child(1) {
        font-weight: 500;
        margin-top: 16px;
      }

      &:nth-child(3) {
        color: #707070;
      }
    }
  }
}

.contact {
  padding: 64px 0 164px;
  background: #aa06010d;

  @include pad {
    padding: 40px 0 116px;
  }

  @include phone {
    padding: 24px 0 104px;
  }

  h2 {
    margin-bottom: 24px;

    @include pad {
      margin-bottom: 16px;
    }

    @include phone {
      margin-bottom: 8px;
    }
  }

  p {
    @include font-size(20px);
    font-weight: 600;

    @include pad {
      @include font-size(16px);
    }
  }

  &-content {
    width: 66%;

    @include pad {
      width: 74%;
    }

    @include phone {
      width: 100%;
    }

    &>p {
      margin-bottom: 20px;

      @include pad {
        margin-bottom: 16px;
      }

      @include phone {
        margin-bottom: 12px;
      }
    }
  }

  .data {
    width: 66%;
    position: relative;

    @include pad {
      width: 74%;
    }

    @include phone {
      width: 100%;
    }

    p {
      @include font-size(16px);
      text-align: left;
      margin-bottom: 4px;

      @include phone {
        margin-bottom: 2px;
      }

      &:last-child {
        margin: 0;
      }
    }

    input {
      height: 50px;
      width: 100%;
      margin-bottom: 16px;
      border: 1px solid #000;

      @include pad {
        margin-bottom: 12px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .feedback {
      width: 100%;
      margin-bottom: 16px;
      border: 1px solid #000;
    }

    .agreement {
      input {
        width: 16px;
        height: 16px;
        margin: 0 8px 0 0;

        @include phone {
          zoom: 1.5;
          margin-right: 2px;
        }
      }
    }

    .submit {
      @include font-size(16px);
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      width: 23%;
      height: 54px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: #aa0601;
      color: #ffffff;
      margin-top: 42px;
      width: 180px;
      height: 54px;

      &:hover {
        background: #650300;
      }

      @include pad {
        margin-top: 24px;
        width: 136px;
        height: 36px;
      }

      @include phone {
        margin-top: 20px;

      }
    }
  }
}

.footer {
  background: #aa0601;
  padding: 36px 0 27.43px;
  color: #ffffff;
  @include font-size(16px);

  @include pad {
    padding: 40px 0;
  }

  @include phone {
    padding: 24px 0;
  }

  a {
    color: #ffffff;

    @include pad {
      width: 24px;
    }
  }

  span {
    @include font-size(36px);
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    @include pad {
      @include font-size(20px);
    }

    @include phone {
      @include font-size(16px);
    }
  }

  .container {
    padding: 0 25px;

    @include pad {
      padding: 0 48px;
    }

    @include phone {
      padding: 0 12px;
    }
  }

  &-contact {
    @include phone {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
      border-bottom: 1px solid #fff;
      margin-bottom: 16px;
    }
  }

  &-bar {
    @include phone {
      display: none !important;
    }

    li {
      margin-right: 48px;

      &:last-child {
        margin-right: 0;
      }

      @include pad {
        margin-right: 40px;
      }
    }
  }

  .socialMedia li {
    margin-left: 32px;

    &:first-child {
      margin-left: 0;
    }

    @include pad {
      margin-left: 24px;

      img {
        width: 24px;
      }
    }
  }

  .contactWay {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #fff;

    @include phone {
      margin-bottom: 0;
      border-bottom: none;
    }

    .tel img {
      margin-right: 23px;

      @include pad {
        margin-right: 12px;
        width: 23px;
        height: 23px;
      }

      @include phone {
        width: 13px;
        height: 13px;
        margin-right: 8px;
      }
    }

    .mail img {
      margin-right: 12px;

      @include pad {
        margin-right: 8px;
        width: 32px;
        height: 32px;
      }

      @include phone {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }

  &-logo {
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    @include phone {
      flex-direction: column;
      align-items: flex-start !important;
      position: relative;
    }

    p {
      @include phone {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }

    a {
      width: auto;

      @include phone {
        margin-bottom: 8px;
      }

      &:first-child {
        margin-right: 38px;

        @include pad {
          display: none;
        }

        @include phone {
          display: block;
          width: 46px;
          height: 28px;
          position: absolute;
          right: -36px;
          bottom: 0;
        }
      }

      &:last-child {
        margin-left: 62px;


        @include pad {
          margin-left: 24px;
        }

        @include phone {
          margin: 0;
        }
      }
    }
  }
}